set firewall ipv4 name WAN-LOCAL rule 31 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 31 description 'wireguard BP: SUNNET AS4242423088'
set firewall ipv4 name WAN-LOCAL rule 31 destination port '23088'
set firewall ipv4 name WAN-LOCAL rule 31 protocol 'udp'
set firewall zone DN42EXT interface '{{ name }}'

{% for address in interface.ip_addresses.all() -%}
    set interfaces wireguard {{ name }} address '{{ address}}'
{%-  endfor %}
set interfaces wireguard {{ name }} description '{{ interface.description }}'
set interfaces wireguard {{ name }} peer dn42-{{ interface.custom_field_data.Wireguard_LocalPort }} address '{{ interface.custom_field_data.Wireguard_PeerClearnetIP|replace("/32", "")|replace("/128", "") }}'
set interfaces wireguard {{ name }} peer dn42-{{ interface.custom_field_data.Wireguard_LocalPort }} allowed-ips '0.0.0.0/0'
set interfaces wireguard {{ name }} peer dn42-{{ interface.custom_field_data.Wireguard_LocalPort }} allowed-ips '::/0'
set interfaces wireguard {{ name }} peer dn42-{{ interface.custom_field_data.Wireguard_LocalPort }} port '{{ interface.custom_field_data.Wireguard_PeerPort }}'
{% if interface.custom_field_data.Wireguard_PresharedKey -%}
set interfaces wireguard {{ name }} peer dn42-{{ interface.custom_field_data.Wireguard_LocalPort }} preshared-key '{{ interface.custom_field_data.Wireguard_PresharedKey }}'
{%- endif %}
set interfaces wireguard {{ name }} peer dn42-{{ interface.custom_field_data.Wireguard_LocalPort }} public-key '{{ interface.custom_field_data.Wireguard_PeerPubkey }}'
set interfaces wireguard {{ name }} port '{{ interface.custom_field_data.Wireguard_LocalPort }}'
set interfaces wireguard {{ name }} private-key '{{ interface.custom_field_data.Wireguard_Privkey }}'
