set interfaces ethernet eth0 address 'dhcp'
set interfaces ethernet eth0 address 'dhcpv6'
set interfaces loopback lo address '172.20.53.94/32'
set interfaces loopback lo address 'fd00:1444:1821::5/128'
set firewall zone WAN interface 'eth0'