set firewall zone DN42INT interface '{{ interface.name }}'
set interfaces openvpn {{ name }} description '{{ interface.description }}'
set interfaces openvpn {{ name }} device-type 'tap'
set interfaces openvpn {{ name }} encryption cipher 'aes128'
set interfaces openvpn {{ name }} local-address {{ interface.ip_addresses.get()|replace("/31", "") }} subnet-mask '255.255.255.254'
set interfaces openvpn {{ name }} local-port '5182{{ interface.name|replace("vtun","") }}'
set interfaces openvpn {{ name }} mode 'site-to-site'
set interfaces openvpn {{ name }} persistent-tunnel
set interfaces openvpn {{ name }} protocol 'udp'
set interfaces openvpn {{ name }} remote-address '{{ interface.custom_field_data.['VPN_Zside'].ip_addresses.get().address|replace("/31", "") }}'
set interfaces openvpn {{ name }} remote-port '5182{{ interface.name|replace("vtun","") }}'
set interfaces openvpn {{ name }} tls certificate 'openvpn-{{ device.name|replace(".jsanders.dn42", "") }}'
set interfaces openvpn {{ name }} tls peer-fingerprint '{{ interface.custom_field_data.openvpn_peer_fingerprint }}'
set interfaces openvpn {{ name }} tls role {{ interface.custom_field_data.openvpn_tls_role }}
