set firewall zone {{ interface.custom_fields.Firewall_Zone }} interface '{{ interface.name }}'
set interfaces openvpn {{ interface.name }} description '{{ interface.description }}'
set interfaces openvpn {{ interface.name }} device-type 'tap'
set interfaces openvpn {{ interface.name }} encryption cipher 'aes128'
set interfaces openvpn {{ interface.name }} local-address '{{ interface.ip_addresses[0].address|replace("/31", "") }}' subnet-mask '255.255.255.254'
set interfaces openvpn {{ interface.name }} local-port '5182{{ interface.name|replace("vtun","") }}'
set interfaces openvpn {{ interface.name }} mode 'site-to-site'
set interfaces openvpn {{ interface.name }} persistent-tunnel
set interfaces openvpn {{ interface.name }} protocol 'udp'
set interfaces openvpn {{ interface.name }} remote-address '{{ interface.ip_addresses[0].custom_fields.VPN_Zside_IP.address|replace("/31", "") }}'
set interfaces openvpn {{ interface.name }} remote-port '5182{{ interface.name|replace("vtun","") }}'
set interfaces openvpn {{ interface.name }} tls certificate 'openvpn-{{ dns_name|replace(".jsanders.dn42", "") }}'
set interfaces openvpn {{ interface.name }} tls peer-fingerprint '{{ interface.custom_fields.openvpn_peer_fingerprint }}'
set interfaces openvpn {{ interface.name }} tls role {{ interface.custom_fields.openvpn_tls_role }}