set nat source rule 20 description 'home to DN42'
set nat source rule 20 outbound-interface group 'DN42-EXT'
set nat source rule 20 source address '192.168.0.0/16'
set nat source rule 20 translation address 'masquerade'