{% include 'vyos-firewall.j2' %}
{%- for interface in interfaces -%}
    {%- if "vtun" in interface.name -%}
        {% include 'vyos-bb.j2' %}
    {%- elif "lo" in interface.name -%}
        {% include 'vyos-loopback.j2' %}
    {%- elif "eth" in interface.name -%}
        {% include 'vyos-eth.j2' %}
    {%- elif "wg" in interface.name -%}
        {% include 'vyos-wireguard.j2' %}
    {% endif %}
{% endfor %}
{% include 'vyos-nat.j2' %}