set protocols bgp address-family ipv4-unicast network 172.20.53.64/27
set protocols bgp address-family ipv6-unicast network fd00:1444:1821::/48

{# ibgp neighbors #}
{% for host in config_context[0].keys() %}
{% if config_context[0][host] != primary_ip4 %}
set protocols bgp neighbor {{ config_context[0][host] }} address-family ipv4-unicast
set protocols bgp neighbor {{ config_context[0][host] }} description 'BB: {{ host }}'
set protocols bgp neighbor {{ config_context[0][host] }} peer-group 'internal'
{% endif %}
{% endfor %}

{% for interface in interfaces %}
{# ebgp neighbors #}
{% if interface.custom_fields.BGP_PeerGroup['name'] == "DN42 Peer" %}
set protocols bgp neighbor {{ interface.custom_fields.BGP_PeerIP['address']|replace("/32", "")|replace("/128", "") }} description '{{ interface.custom_fields.BGP_PeerASN['description'] }}'
set protocols bgp neighbor {{ interface.custom_fields.BGP_PeerIP['address']|replace("/32", "")|replace("/128", "") }} peer-group 'transit'
set protocols bgp neighbor {{ interface.custom_fields.BGP_PeerIP['address']|replace("/32", "")|replace("/128", "") }} remote-as '{{ interface.custom_fields.BGP_PeerASN['asn'] }}'
{% elif interface.custom_fields.BGP_PeerGroup['name'] == "DN42 Internal" %}
set protocols isis interface {{ interface.name }} circuit-type 'level-2-only'
set protocols isis interface {{ interface.name }} metric '{{ interface.custom_fields.latency }}'
set protocols isis interface {{ interface.name }} network point-to-point
{% endif %}
{% endfor %}

set protocols bgp parameters log-neighbor-changes
set protocols bgp parameters router-id '{{ primary_ip4 }}'

set protocols bgp peer-group internal address-family ipv4-unicast nexthop-self
set protocols bgp peer-group internal address-family ipv4-unicast route-map export 'internal-out'
set protocols bgp peer-group internal address-family ipv4-unicast route-map import 'internal-in'
set protocols bgp peer-group internal address-family ipv4-unicast soft-reconfiguration inbound
set protocols bgp peer-group internal address-family ipv6-unicast nexthop-self
set protocols bgp peer-group internal address-family ipv6-unicast route-map export 'internal-out'
set protocols bgp peer-group internal address-family ipv6-unicast route-map import 'internal-in'
set protocols bgp peer-group internal address-family ipv6-unicast soft-reconfiguration inbound
set protocols bgp peer-group internal remote-as 'internal'
set protocols bgp peer-group internal update-source 'lo'

set protocols bgp peer-group transit address-family ipv4-unicast nexthop-self
set protocols bgp peer-group transit address-family ipv4-unicast route-map export 'transit-out'
set protocols bgp peer-group transit address-family ipv4-unicast route-map import 'transit-in'
set protocols bgp peer-group transit address-family ipv4-unicast soft-reconfiguration inbound
set protocols bgp peer-group transit address-family ipv6-unicast nexthop-self
set protocols bgp peer-group transit address-family ipv6-unicast route-map export 'transit-out'
set protocols bgp peer-group transit address-family ipv6-unicast route-map import 'transit-in'
set protocols bgp peer-group transit address-family ipv6-unicast soft-reconfiguration inbound
set protocols bgp peer-group transit capability dynamic
set protocols bgp peer-group transit capability extended-nexthop
set protocols bgp peer-group transit ebgp-multihop '10'
set protocols bgp peer-group transit update-source 'lo'

set protocols bgp system-as '4242422914'

set protocols isis dynamic-hostname
set protocols isis interface lo passive
set protocols isis level 'level-2'
set protocols isis log-adjacency-changes
set protocols isis lsp-mtu '1417'
set protocols isis net '49.0001.1720.2005.3094.00'

set protocols ospf 

set protocols rpki cache 172.20.53.66 port '323'
set protocols rpki cache 172.20.53.66 preference '1'

set protocols static route 0.0.0.0/0 interface eth0 distance '254'
set protocols static route 172.21.100.190/32 interface wg11
set protocols static route 172.22.77.47/32 interface wg10
set protocols static route6 ::/0 interface eth0 distance '254'
set protocols static route6 fd28:cb8f:4c92:7777::7/128 interface wg10
set protocols static route6 fdc8:dc88:ee11:190::1/128 interface wg11
set protocols static route6 fe80::3088:190/128 interface wg11