set firewall zone {{ interface.custom_fields.Firewall_Zone }} interface '{{ interface.name }}'
{%- if "WAN" in interface.description -%}
set interfaces ethernet {{ interface.name }} address 'dhcp'
set interfaces ethernet {{ interface.name }} address 'dhcpv6'
set interfaces ethernet {{ interface.name }} description '{{ interface.description }}'
{% else %}
{% for address in interface.ip_addresses -%}
set interfaces ethernet {{ interface.name }} address '{{ address['address'] }}'
{%-  endfor %}
set interfaces ethernet {{ interface.name }} description '{{ interface.description }}'
set interfaces ethernet {{ interface.name }} mtu '{{ interface.mtu }}'
{%- endif -%}