set firewall zone DN42INT interface '{{ display }}'

set interfaces openvpn '{{ display }}' description '{{ description }}'
set interfaces openvpn '{{ display }}' device-type 'tap'
set interfaces openvpn '{{ display }}' encryption cipher 'aes128'
set interfaces openvpn '{{ display }}' local-address {{ ip_addresses.address|replace("/31", "") }} subnet-mask '255.255.255.254'
set interfaces openvpn '{{ display }}' local-port '5182{{ display|replace("vtun","") }}'
set interfaces openvpn '{{ display }}' mode 'site-to-site'
set interfaces openvpn '{{ display }}' persistent-tunnel
set interfaces openvpn '{{ display }}' protocol 'udp'
set interfaces openvpn '{{ display }}' remote-address '172.20.53.78'
set interfaces openvpn '{{ display }}' remote-host '104.238.152.108'
set interfaces openvpn '{{ display }}' remote-port '51823'
set interfaces openvpn '{{ display }}' tls certificate 'openvpn-tky01'
set interfaces openvpn '{{ display }}' tls peer-fingerprint 'C7:94:18:DC:A6:61:44:FA:FA:E3:13:20:67:03:A4:C0:F5:79:23:E3:27:5E:FC:9B:6B:6B:2F:1A:67:11:5A:6D'
