set firewall global-options source-validation 'disable'
set firewall group ipv6-network-group dn42-transit network 'fd00::/8'
set firewall group ipv6-network-group dn42-assigned network 'fd00:1444:1821::/48'
set firewall group network-group dn42-transit network '10.0.0.0/8'
set firewall group network-group dn42-transit network '172.20.0.0/14'
set firewall group network-group dn42-transit network '172.31.0.0/16'
set firewall group network-group dn42-assigned network '172.20.53.64/27'

{% set ip_versions = [4,6] %}
{% for ipv in ip_versions %}
set firewall ipv{{ ipv }} name DN42EXT-DN42INT default-action 'drop'
set firewall ipv{{ ipv }} name DN42EXT-DN42INT default-log
set firewall ipv{{ ipv }} name DN42EXT-DN42INT rule 42 action 'accept'
set firewall ipv{{ ipv }} name DN42EXT-DN42INT rule 42 destination group network-group 'dn42-transit'
set firewall ipv{{ ipv }} name DN42EXT-DN42INT rule 42 source group network-group 'dn42-transit'
set firewall ipv{{ ipv }} name DN42EXT-DN42INT rule 99 action 'drop'

set firewall ipv{{ ipv }} name DN42EXT-LOCAL default-action 'drop'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 5 action 'accept'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 5 state 'established'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 5 state 'related'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 20 action 'accept'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 20 protocol 'icmp'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 20 state 'new'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 61 action 'accept'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 61 description 'BGP'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 61 destination port '179'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 61 protocol 'tcp'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 99 action 'drop'
set firewall ipv{{ ipv }} name DN42EXT-LOCAL rule 99 log

{# set firewall ipv{{ ipv }} name DN42INT-DN42EXT default-action 'accept' #}

set firewall ipv{{ ipv }} name DN42INT-DN42EXT default-action 'drop'
set firewall ipv{{ ipv }} name DN42INT-DN42EXT default-log
set firewall ipv{{ ipv }} name DN42INT-DN42EXT rule 42 action 'accept'
set firewall ipv{{ ipv }} name DN42INT-DN42EXT rule 42 destination group network-group 'dn42-transit'
set firewall ipv{{ ipv }} name DN42INT-DN42EXT rule 42 source group network-group 'dn42-transit'
set firewall ipv{{ ipv }} name DN42INT-DN42EXT rule 99 action 'drop'

set firewall ipv{{ ipv }} name DN42INT-LOCAL default-action 'accept'

set firewall ipv{{ ipv }} name LOCAL-DN42EXT default-action 'accept'

set firewall ipv{{ ipv }} name LOCAL-DN42INT default-action 'accept'

set firewall ipv{{ ipv }} name LOCAL-WAN default-action 'accept'

set firewall ipv{{ ipv }} name OTHER-WAN default-action 'drop'

set firewall ipv{{ ipv }} name WAN-OTHER default-action 'drop'

{% endfor %}

set firewall ipv4 name WAN-LOCAL default-action 'drop'
set firewall ipv4 name WAN-LOCAL rule 5 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 5 state 'established'
set firewall ipv4 name WAN-LOCAL rule 5 state 'related'
set firewall ipv4 name WAN-LOCAL rule 20 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 20 protocol 'icmp'
set firewall ipv4 name WAN-LOCAL rule 20 state 'new'
set firewall ipv4 name WAN-LOCAL rule 22 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 22 destination port '22'
set firewall ipv4 name WAN-LOCAL rule 22 protocol 'tcp'
set firewall ipv4 name WAN-LOCAL rule 25 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 25 description 'BB_VPN_IN'
set firewall ipv4 name WAN-LOCAL rule 25 destination port '51820-51825'
set firewall ipv4 name WAN-LOCAL rule 25 protocol 'udp'
set firewall ipv4 name WAN-LOCAL rule 30 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 30 description 'WireGuard_moe233'
set firewall ipv4 name WAN-LOCAL rule 30 destination port '20253'
set firewall ipv4 name WAN-LOCAL rule 30 protocol 'udp'
set firewall ipv4 name WAN-LOCAL rule 31 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 31 description 'wireguard Potat0 AS4242421816'
set firewall ipv4 name WAN-LOCAL rule 31 destination port '21816'
set firewall ipv4 name WAN-LOCAL rule 31 protocol 'udp'

set firewall ipv6 name WAN-LOCAL default-action 'drop'
set firewall ipv6 name WAN-LOCAL rule 5 action 'accept'
set firewall ipv6 name WAN-LOCAL rule 5 state 'established'
set firewall ipv6 name WAN-LOCAL rule 5 state 'related'
set firewall ipv6 name WAN-LOCAL rule 20 action 'accept'
set firewall ipv6 name WAN-LOCAL rule 20 protocol 'ipv6-icmp'
set firewall ipv6 name WAN-LOCAL rule 20 state 'new'
set firewall ipv6 name WAN-LOCAL rule 22 action 'accept'
set firewall ipv6 name WAN-LOCAL rule 22 destination port '22'
set firewall ipv6 name WAN-LOCAL rule 22 protocol 'tcp'

set firewall zone DN42EXT from DN42INT firewall ipv6-name 'DN42INT-DN42EXT'
set firewall zone DN42EXT from DN42INT firewall name 'DN42INT-DN42EXT'
set firewall zone DN42EXT from LOCAL firewall ipv6-name 'LOCAL-DN42EXT'
set firewall zone DN42EXT from LOCAL firewall name 'LOCAL-DN42EXT'
set firewall zone DN42EXT from WAN firewall ipv6-name 'WAN-OTHER'
set firewall zone DN42EXT from WAN firewall name 'WAN-OTHER'

set firewall zone DN42INT from DN42EXT firewall ipv6-name 'DN42EXT-DN42INT'
set firewall zone DN42INT from DN42EXT firewall name 'DN42EXT-DN42INT'
set firewall zone DN42INT from LOCAL firewall ipv6-name 'LOCAL-DN42INT'
set firewall zone DN42INT from LOCAL firewall name 'LOCAL-DN42INT'
set firewall zone DN42INT from WAN firewall ipv6-name 'WAN-OTHER'
set firewall zone DN42INT from WAN firewall name 'WAN-OTHER'

set firewall zone LOCAL from DN42EXT firewall ipv6-name 'DN42EXT-LOCAL'
set firewall zone LOCAL from DN42EXT firewall name 'DN42EXT-LOCAL'
set firewall zone LOCAL from DN42INT firewall ipv6-name 'DN42INT-LOCAL'
set firewall zone LOCAL from DN42INT firewall name 'DN42INT-LOCAL'
set firewall zone LOCAL from WAN firewall ipv6-name 'WAN-LOCAL'
set firewall zone LOCAL from WAN firewall name 'WAN-LOCAL'
set firewall zone LOCAL local-zone

set firewall zone WAN default-action 'drop'
set firewall zone WAN from DN42EXT firewall ipv6-name 'OTHER-WAN'
set firewall zone WAN from DN42EXT firewall name 'OTHER-WAN'
set firewall zone WAN from DN42INT firewall ipv6-name 'OTHER-WAN'
set firewall zone WAN from DN42INT firewall name 'OTHER-WAN'
set firewall zone WAN from HOME firewall ipv6-name 'OTHER-WAN'
set firewall zone WAN from HOME firewall name 'OTHER-WAN'
set firewall zone WAN from LOCAL firewall ipv6-name 'LOCAL-WAN'
set firewall zone WAN from LOCAL firewall name 'LOCAL-WAN'