{# firewall #}
set firewall ipv4 name WAN-LOCAL rule 31 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 31 description 'wireguard BP: SUNNET AS4242423088'
set firewall ipv4 name WAN-LOCAL rule 31 destination port '23088'
set firewall ipv4 name WAN-LOCAL rule 31 protocol 'udp'
set firewall zone DN42EXT interface 'wg10'

set interfaces wireguard wg10 address '172.20.53.94/32'
set interfaces wireguard wg10 address 'fd00:1444:1821::5/128'
set interfaces wireguard wg10 description 'BP: KSKB AS4242421817'
set interfaces wireguard wg10 peer dn42-kskb-tky01 address '103.122.117.113'
set interfaces wireguard wg10 peer dn42-kskb-tky01 allowed-ips '0.0.0.0/0'
set interfaces wireguard wg10 peer dn42-kskb-tky01 allowed-ips '::/0'
set interfaces wireguard wg10 peer dn42-kskb-tky01 port '22914'
set interfaces wireguard wg10 peer dn42-kskb-tky01 preshared-key ''
set interfaces wireguard wg10 peer dn42-kskb-tky01 public-key 'LDtwAj4hsCOmZEnAcb2uzOH5FP1q43ploOoG/8tDeC4='
set interfaces wireguard wg10 port '21817'
set interfaces wireguard wg10 private-key ''
set interfaces wireguard wg11 address '172.20.53.94/32'
set interfaces wireguard wg11 address 'fd00:1444:1821::5/128'
set interfaces wireguard wg11 address 'fe80::abcd/64'
set interfaces wireguard wg11 description 'BP: SUNNET AS4242423088'
set interfaces wireguard wg11 ipv6 address no-default-link-local
set interfaces wireguard wg11 peer dn42-sunnet-tky01 address '45.76.219.186'
set interfaces wireguard wg11 peer dn42-sunnet-tky01 allowed-ips '0.0.0.0/0'
set interfaces wireguard wg11 peer dn42-sunnet-tky01 allowed-ips '::/0'
set interfaces wireguard wg11 peer dn42-sunnet-tky01 port '22914'
set interfaces wireguard wg11 peer dn42-sunnet-tky01 public-key 'b3gUz8an2+wSCvXAwuxGR7AnxKDUqqQMd1+LASo93R0='
set interfaces wireguard wg11 port '23088'
set interfaces wireguard wg11 private-key ''