{% set ip_versions = [4,6] %}
{#
set policy community-list dn42-link rule 10 action 'permit'
set policy community-list dn42-link rule 10 regex '^64511:([0-9]|1[0-9]|2[0-9]|3[0-9])'
set policy community-list dn42-origin rule 10 action 'permit'
set policy community-list dn42-origin rule 10 regex '^64511:(4[1-9]|5[0-9]|6[0-9]|70|1[0-9][0-9][0-9])'
#}
set policy prefix-list dn42 rule 10 action 'permit'
set policy prefix-list dn42 rule 10 le '32'
set policy prefix-list dn42 rule 10 prefix '172.20.0.0/14'
set policy prefix-list dn42 rule 20 action 'permit'
set policy prefix-list dn42 rule 20 le '32'
set policy prefix-list dn42 rule 20 prefix '10.0.0.0/8'
set policy prefix-list6 dn42 rule 10 action 'permit'
set policy prefix-list6 dn42 rule 10 le '128'
set policy prefix-list6 dn42 rule 10 prefix 'fd00::/8'
set policy prefix-list dn42-assigned rule 10 action 'permit'
set policy prefix-list dn42-assigned rule 10 prefix '172.20.53.64/27'
set policy prefix-list6 dn42-assigned rule 10 action 'permit'
set policy prefix-list6 dn42-assigned rule 10 prefix 'fd00:1444:1821::/48'
set policy route-map DN42-ROA rule 10 action 'permit'
set policy route-map DN42-ROA rule 10 match rpki 'valid'
set policy route-map DN42-ROA rule 20 action 'permit'
set policy route-map DN42-ROA rule 20 match rpki 'notfound'
set policy route-map DN42-ROA rule 30 action 'deny'
set policy route-map DN42-ROA rule 30 match rpki 'invalid'
set policy route-map deny-all rule 1 action 'deny'
set policy route-map internal-in rule 100 action 'permit'
set policy route-map internal-out rule 100 action 'permit'
set policy route-map transit-in rule 104 match ip address prefix-list 'dn42'
set policy route-map transit-in rule 104 action 'permit'
set policy route-map transit-in rule 104 call 'DN42-ROA'
set policy route-map transit-in rule 104 set local-preference '90'
set policy route-map transit-in rule 106 match ipv6 address prefix-list 'dn42'
set policy route-map transit-in rule 106 action 'permit'
set policy route-map transit-in rule 106 call 'DN42-ROA'
set policy route-map transit-in rule 106 set local-preference '90'
set policy route-map transit-out rule 204 action 'permit'
set policy route-map transit-out rule 204 match ip address prefix-list 'dn42-assigned'
set policy route-map transit-out rule 206 action 'permit'
set policy route-map transit-out rule 206 match ipv6 address prefix-list 'dn42-assigned'
{% if regions[0] == 'north-america-w' %}
{% for ipv in ip_versions %}
set policy route-map transit-out rule 20{{ ipv }} set community add '64511:44'
{% endfor %}
{% elif regions[0] == 'north-america-c' %}
{% for ipv in ip_versions %}
set policy route-map transit-out rule 20{{ ipv }} set community add '64511:43'
{% endfor %}
{% elif regions[0] == 'europe' %}
{% for ipv in ip_versions %}
set policy route-map transit-out rule 20{{ ipv }} set community add '64511:41'
{% endfor %}
{% elif regions[0] == 'asia-e' %}
{% for ipv in ip_versions %}
set policy route-map transit-out rule 20{{ ipv }} set community add '64511:52'
{% endfor %}
{% endif %}
{% if site_groups[0] == 'us' %}
{% for ipv in ip_versions %}
set policy route-map transit-out rule 20{{ ipv }} set community add '64511:1840'
{% endfor %}
{% elif site_groups[0] == 'de' %}
{% for ipv in ip_versions %}
set policy route-map transit-out rule 20{{ ipv }} set community add '64511:1276'
{% endfor %}
{% elif site_groups[0] == 'jp' %}
{% for ipv in ip_versions %}
set policy route-map transit-out rule 20{{ ipv }} set community add '64511:1392'
{% endfor %}
{% endif %}
set policy route-map transit-out rule 304 match ip address prefix-list 'dn42'
set policy route-map transit-out rule 304 action 'permit'
set policy route-map transit-out rule 306 match ipv6 address prefix-list 'dn42'
set policy route-map transit-out rule 306 action 'permit'