set policy community-list dn42-link rule 10 action 'permit'
set policy community-list dn42-link rule 10 regex '^64511:([0-9]|1[0-9]|2[0-9]|3[0-9])'
set policy community-list dn42-origin rule 10 action 'permit'
set policy community-list dn42-origin rule 10 regex '^64511:(4[1-9]|5[0-9]|6[0-9]|70|1[0-9][0-9][0-9])'
set policy prefix-list my-assigned-space rule 10 action 'permit'
set policy prefix-list my-assigned-space rule 10 prefix '172.20.53.64/27'
set policy prefix-list6 my-assigned-space rule 10 action 'permit'
set policy prefix-list6 my-assigned-space rule 10 prefix 'fd00:1444:1821::/48'
set policy route-map DN42-ROA rule 10 action 'permit'
set policy route-map DN42-ROA rule 10 match rpki 'valid'
set policy route-map DN42-ROA rule 20 action 'permit'
set policy route-map DN42-ROA rule 20 match rpki 'notfound'
set policy route-map DN42-ROA rule 30 action 'deny'
set policy route-map DN42-ROA rule 30 match rpki 'invalid'
set policy route-map deny-all rule 1 action 'deny'
set policy route-map internal-in rule 100 action 'permit'
set policy route-map internal-out rule 100 action 'permit'
set policy route-map transit-in rule 100 action 'permit'
set policy route-map transit-in rule 100 call 'DN42-ROA'
set policy route-map transit-in rule 100 set local-preference '90'
set policy route-map transit-out rule 200 action 'permit'
set policy route-map transit-out rule 200 match ip address prefix-list 'my-assigned-space'
set policy route-map transit-out rule 200 match ipv6 address prefix-list 'my-assigned-space'
set policy route-map transit-out rule 200 set community add '64511:52'
set policy route-map transit-out rule 200 set community add '64511:1392'
set policy route-map transit-out rule 300 action 'permit'