set firewall ipv4 name WAN-LOCAL rule {{ interface.custom_fields.Wireguard_LocalPort }} action 'accept'
set firewall ipv4 name WAN-LOCAL rule {{ interface.custom_fields.Wireguard_LocalPort }} description 'wireguard {{ interface.description }}'
set firewall ipv4 name WAN-LOCAL rule {{ interface.custom_fields.Wireguard_LocalPort }} destination port '{{ interface.custom_fields.Wireguard_PeerPort }}'
set firewall ipv4 name WAN-LOCAL rule {{ interface.custom_fields.Wireguard_LocalPort }} protocol 'udp'
set firewall zone {{ interface.custom_fields.Firewall_Zone }} interface '{{ interface.name }}'
{% for address in interface.ip_addresses -%}
set interfaces wireguard {{ interface.name }} address '{{ address['address'] }}'
{%-  endfor %}
set interfaces wireguard {{ interface.name }} description '{{ interface.description }}'
{% if interface.custom_fields.Wireguard_PeerClearnetIP %}
set interfaces wireguard {{ interface.name }} peer {{ interface.name }} address '{{ interface.custom_fields.Wireguard_PeerClearnetIP|replace("/32", "")|replace("/128", "") }}'
{% endif %}
set interfaces wireguard {{ interface.name }} peer {{ interface.name }} allowed-ips '0.0.0.0/0'
set interfaces wireguard {{ interface.name }} peer {{ interface.name }} allowed-ips '::/0'
{% if interface.custom_fields.Wireguard_PeerPort %}
set interfaces wireguard {{ interface.name }} peer {{ interface.name }} port '{{ interface.custom_fields.Wireguard_PeerPort }}'
{% endif %}
{% if interface.custom_fields.Wireguard_PresharedKey -%}
set interfaces wireguard {{ interface.name }} peer {{ interface.name }} preshared-key '{{ interface.custom_fields.Wireguard_PresharedKey }}'
{%- endif %}
set interfaces wireguard {{ interface.name }} peer {{ interface.name }} public-key '{{ interface.custom_fields.Wireguard_PeerPubkey }}'
set interfaces wireguard {{ interface.name }} port '{{ interface.custom_fields.Wireguard_LocalPort }}'
set interfaces wireguard {{ interface.name }} private-key '{{ interface.custom_fields.Wireguard_Privkey }}'

{% if interface.custom_fields.Firewall_Zone == 'HOME' %}
set firewall group network-group home network '192.168.0.0/16'
set firewall group network-group home network '172.20.53.64/29'

{% set ip_versions = [4,6] %}
{% for ipv in ip_versions %}
set firewall ipv{{ ipv }} name DN42-HOME default-action 'drop'
set firewall ipv{{ ipv }} name DN42-HOME rule 5 action 'accept'
set firewall ipv{{ ipv }} name DN42-HOME rule 5 state 'established'
set firewall ipv{{ ipv }} name DN42-HOME rule 5 state 'related'
set firewall ipv{{ ipv }} name DN42-HOME rule 20 action 'accept'
set firewall ipv{{ ipv }} name DN42-HOME rule 20 source group network-group 'dn42-assigned'

set firewall ipv{{ ipv }} name HOME-DN42 default-action 'reject'
set firewall ipv{{ ipv }} name HOME-DN42 rule 70 action 'accept'
set firewall ipv{{ ipv }} name HOME-DN42 rule 70 destination group network-group 'dn42-transit'

set firewall ipv{{ ipv }} name HOME-LOCAL default-action 'accept'

set firewall ipv{{ ipv }} name LOCAL-HOME default-action 'accept'
{% endfor %}

set firewall ipv4 name HOME-DN42 rule 70 source group network-group 'home'

set firewall zone HOME from DN42EXT firewall ipv6-name 'DN42-HOME'
set firewall zone HOME from DN42EXT firewall name 'DN42-HOME'
set firewall zone HOME from DN42INT firewall ipv6-name 'DN42-HOME'
set firewall zone HOME from DN42INT firewall name 'DN42-HOME'
set firewall zone HOME from LOCAL firewall ipv6-name 'LOCAL-HOME'
set firewall zone HOME from LOCAL firewall name 'LOCAL-HOME'
set firewall zone HOME from WAN firewall ipv6-name 'WAN-OTHER'
set firewall zone HOME from WAN firewall name 'WAN-OTHER'

set firewall zone DN42EXT from HOME firewall ipv6-name 'HOME-DN42'
set firewall zone DN42EXT from HOME firewall name 'HOME-DN42'

set firewall zone DN42INT from HOME firewall ipv6-name 'HOME-DN42'
set firewall zone DN42INT from HOME firewall name 'HOME-DN42'

set firewall zone LOCAL from HOME firewall ipv6-name 'HOME-LOCAL'
set firewall zone LOCAL from HOME firewall name 'HOME-LOCAL'

set firewall zone WAN from HOME firewall ipv6-name 'OTHER-WAN'
set firewall zone WAN from HOME firewall name 'OTHER-WAN'
{% endif %}

{% if interface.custom_fields.Firewall_Zone == 'GEOVPN' %}
{% for ipv in ip_versions %}
set firewall ipv{{ ipv }} name WAN-GEOVPN default-action 'drop'
set firewall ipv{{ ipv }} name WAN-GEOVPN rule 5 action 'accept'
set firewall ipv{{ ipv }} name WAN-GEOVPN rule 5 state 'established'
set firewall ipv{{ ipv }} name WAN-GEOVPN rule 5 state 'related'
set firewall ipv{{ ipv }} name LOCAL-GEOVPN default-action 'accept'
set firewall ipv{{ ipv }} name GEOVPN-LOCAL default-action 'accept'
{% endfor %}

set firewall zone GEOVPN default-action 'drop'
set firewall zone GEOVPN from LOCAL firewall ipv6-name 'LOCAL-GEOVPN'
set firewall zone GEOVPN from LOCAL firewall name 'LOCAL-GEOVPN'
set firewall zone GEOVPN from WAN firewall ipv6-name 'WAN-GEOVPN'
set firewall zone GEOVPN from WAN firewall name 'WAN-GEOVPN'

set firewall zone LOCAL from GEOVPN firewall ipv6-name 'GEOVPN-LOCAL'
set firewall zone LOCAL from GEOVPN firewall name 'GEOVPN-LOCAL'

set firewall zone WAN from GEOVPN firewall ipv6-name 'LOCAL-WAN'
set firewall zone WAN from GEOVPN firewall name 'LOCAL-WAN'
{% endif %}