set firewall global-options source-validation 'disable'
set firewall group ipv6-network-group Allowed-Transit-v6 network 'fd00::/8'
{#
set firewall group ipv6-network-group My-Assigned-Space-v6 network 'fd00:1444:1821::/48'
#}
set firewall group network-group Allowed-Transit-v4 network '10.0.0.0/8'
set firewall group network-group Allowed-Transit-v4 network '172.20.0.0/14'
set firewall group network-group Allowed-Transit-v4 network '172.31.0.0/16'
{#
set firewall group network-group My-Assigned-Space-v4 network '172.20.53.64/27'
#}
set firewall ipv4 name DN42EXT-DN42INT default-action 'drop'
set firewall ipv4 name DN42EXT-DN42INT default-log
set firewall ipv4 name DN42EXT-DN42INT rule 70 action 'accept'
set firewall ipv4 name DN42EXT-DN42INT rule 70 description 'Allow Peer Transit'
set firewall ipv4 name DN42EXT-DN42INT rule 70 destination group network-group 'Allowed-Transit-v4'
set firewall ipv4 name DN42EXT-DN42INT rule 70 log
set firewall ipv4 name DN42EXT-DN42INT rule 70 source group network-group 'Allowed-Transit-v4'
set firewall ipv4 name DN42EXT-DN42INT rule 99 action 'drop'
set firewall ipv4 name DN42EXT-DN42INT rule 99 description 'Black Hole'
set firewall ipv4 name DN42EXT-DN42INT rule 99 log
set firewall ipv4 name DN42EXT-LOCAL default-action 'drop'
set firewall ipv4 name DN42EXT-LOCAL rule 5 action 'accept'
set firewall ipv4 name DN42EXT-LOCAL rule 5 state 'established'
set firewall ipv4 name DN42EXT-LOCAL rule 5 state 'related'
set firewall ipv4 name DN42EXT-LOCAL rule 20 action 'accept'
set firewall ipv4 name DN42EXT-LOCAL rule 20 protocol 'icmp'
set firewall ipv4 name DN42EXT-LOCAL rule 20 state 'new'
set firewall ipv4 name DN42EXT-LOCAL rule 61 action 'accept'
set firewall ipv4 name DN42EXT-LOCAL rule 61 description 'Allow BGP'
set firewall ipv4 name DN42EXT-LOCAL rule 61 destination port '179'
set firewall ipv4 name DN42EXT-LOCAL rule 61 protocol 'tcp'
set firewall ipv4 name DN42EXT-LOCAL rule 98 action 'drop'
set firewall ipv4 name DN42EXT-LOCAL rule 98 description 'Black Hole'
set firewall ipv4 name DN42EXT-LOCAL rule 98 log
set firewall ipv4 name DN42EXT-LOCAL rule 98 state 'invalid'
set firewall ipv4 name DN42EXT-LOCAL rule 99 action 'drop'
set firewall ipv4 name DN42EXT-LOCAL rule 99 description 'Black Hole'
set firewall ipv4 name DN42EXT-LOCAL rule 99 log
set firewall ipv4 name DN42INT-DN42EXT default-action 'accept'
set firewall ipv4 name DN42INT-LOCAL default-action 'accept'
set firewall ipv4 name LOCAL-DN42EXT default-action 'accept'
set firewall ipv4 name LOCAL-DN42INT default-action 'accept'
set firewall ipv4 name LOCAL-WAN default-action 'accept'
set firewall ipv4 name OTHER-WAN default-action 'drop'
set firewall ipv4 name WAN-LOCAL default-action 'drop'
set firewall ipv4 name WAN-LOCAL rule 5 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 5 state 'established'
set firewall ipv4 name WAN-LOCAL rule 5 state 'related'
set firewall ipv4 name WAN-LOCAL rule 20 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 20 protocol 'icmp'
set firewall ipv4 name WAN-LOCAL rule 20 state 'new'
set firewall ipv4 name WAN-LOCAL rule 22 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 22 destination port '22'
set firewall ipv4 name WAN-LOCAL rule 22 protocol 'tcp'
set firewall ipv4 name WAN-LOCAL rule 25 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 25 description 'BB_VPN_IN'
set firewall ipv4 name WAN-LOCAL rule 25 destination port '51820-51825'
set firewall ipv4 name WAN-LOCAL rule 25 protocol 'udp'
set firewall ipv4 name WAN-LOCAL rule 30 action 'accept'
{#
set firewall ipv4 name WAN-LOCAL rule 30 description 'wireguard BP: KSKB AS4242421817'
set firewall ipv4 name WAN-LOCAL rule 30 destination port '21817'
set firewall ipv4 name WAN-LOCAL rule 30 protocol 'udp'
set firewall ipv4 name WAN-LOCAL rule 31 action 'accept'
set firewall ipv4 name WAN-LOCAL rule 31 description 'wireguard BP: SUNNET AS4242423088'
set firewall ipv4 name WAN-LOCAL rule 31 destination port '23088'
set firewall ipv4 name WAN-LOCAL rule 31 protocol 'udp'
#}
set firewall ipv4 name WAN-OTHER default-action 'drop'
set firewall ipv6 name DN42EXT-DN42INT default-action 'drop'
set firewall ipv6 name DN42EXT-DN42INT default-log
set firewall ipv6 name DN42EXT-DN42INT rule 70 action 'accept'
set firewall ipv6 name DN42EXT-DN42INT rule 70 description 'Allow Peer Transit'
set firewall ipv6 name DN42EXT-DN42INT rule 70 destination group network-group 'Allowed-Transit-v6'
set firewall ipv6 name DN42EXT-DN42INT rule 70 log
set firewall ipv6 name DN42EXT-DN42INT rule 70 source group network-group 'Allowed-Transit-v6'
set firewall ipv6 name DN42EXT-DN42INT rule 99 action 'drop'
set firewall ipv6 name DN42EXT-DN42INT rule 99 description 'Black Hole'
set firewall ipv6 name DN42EXT-DN42INT rule 99 log
set firewall ipv6 name DN42EXT-LOCAL default-action 'drop'
set firewall ipv6 name DN42EXT-LOCAL rule 5 action 'accept'
set firewall ipv6 name DN42EXT-LOCAL rule 5 state 'established'
set firewall ipv6 name DN42EXT-LOCAL rule 5 state 'related'
set firewall ipv6 name DN42EXT-LOCAL rule 20 action 'accept'
set firewall ipv6 name DN42EXT-LOCAL rule 20 protocol 'ipv6-icmp'
set firewall ipv6 name DN42EXT-LOCAL rule 20 state 'new'
set firewall ipv6 name DN42EXT-LOCAL rule 61 action 'accept'
set firewall ipv6 name DN42EXT-LOCAL rule 61 description 'Allow BGP'
set firewall ipv6 name DN42EXT-LOCAL rule 61 destination port '179'
set firewall ipv6 name DN42EXT-LOCAL rule 61 protocol 'tcp'
set firewall ipv6 name DN42EXT-LOCAL rule 98 action 'drop'
set firewall ipv6 name DN42EXT-LOCAL rule 98 description 'Black Hole'
set firewall ipv6 name DN42EXT-LOCAL rule 98 log
set firewall ipv6 name DN42EXT-LOCAL rule 98 state 'invalid'
set firewall ipv6 name DN42EXT-LOCAL rule 99 action 'drop'
set firewall ipv6 name DN42EXT-LOCAL rule 99 description 'Black Hole'
set firewall ipv6 name DN42EXT-LOCAL rule 99 log
set firewall ipv6 name DN42INT-DN42EXT default-action 'accept'
set firewall ipv6 name DN42INT-LOCAL default-action 'accept'
set firewall ipv6 name LOCAL-DN42EXT default-action 'accept'
set firewall ipv6 name LOCAL-DN42INT default-action 'accept'
set firewall ipv6 name LOCAL-WAN default-action 'accept'
set firewall ipv6 name OTHER-WAN default-action 'drop'
set firewall ipv6 name WAN-LOCAL default-action 'drop'
set firewall ipv6 name WAN-LOCAL rule 5 action 'accept'
set firewall ipv6 name WAN-LOCAL rule 5 state 'established'
set firewall ipv6 name WAN-LOCAL rule 5 state 'related'
set firewall ipv6 name WAN-LOCAL rule 20 action 'accept'
set firewall ipv6 name WAN-LOCAL rule 20 protocol 'ipv6-icmp'
set firewall ipv6 name WAN-LOCAL rule 20 state 'new'
set firewall ipv6 name WAN-LOCAL rule 22 action 'accept'
set firewall ipv6 name WAN-LOCAL rule 22 destination port '22'
set firewall ipv6 name WAN-LOCAL rule 22 protocol 'tcp'
set firewall ipv6 name WAN-OTHER default-action 'drop'
{#
set firewall zone DN42EXT from DN42INT firewall ipv6-name 'DN42INT-DN42EXT'
set firewall zone DN42EXT from DN42INT firewall name 'DN42INT-DN42EXT'
set firewall zone DN42EXT from LOCAL firewall ipv6-name 'LOCAL-DN42EXT'
set firewall zone DN42EXT from LOCAL firewall name 'LOCAL-DN42EXT'
set firewall zone DN42EXT from WAN firewall ipv6-name 'WAN-OTHER'
set firewall zone DN42EXT from WAN firewall name 'WAN-OTHER'
set firewall zone DN42EXT interface 'wg10'
set firewall zone DN42EXT interface 'wg11'
#}
set firewall zone DN42INT from DN42EXT firewall ipv6-name 'DN42EXT-DN42INT'
set firewall zone DN42INT from DN42EXT firewall name 'DN42EXT-DN42INT'
set firewall zone DN42INT from LOCAL firewall ipv6-name 'LOCAL-DN42INT'
set firewall zone DN42INT from LOCAL firewall name 'LOCAL-DN42INT'
set firewall zone DN42INT from WAN firewall ipv6-name 'WAN-OTHER'
set firewall zone DN42INT from WAN firewall name 'WAN-OTHER'
{#
set firewall zone DN42INT interface 'vtun3'
set firewall zone DN42INT interface 'vtun4'
#}
set firewall zone LOCAL from DN42EXT firewall ipv6-name 'DN42EXT-LOCAL'
set firewall zone LOCAL from DN42EXT firewall name 'DN42EXT-LOCAL'
set firewall zone LOCAL from DN42INT firewall ipv6-name 'DN42INT-LOCAL'
set firewall zone LOCAL from DN42INT firewall name 'DN42INT-LOCAL'
set firewall zone LOCAL from WAN firewall ipv6-name 'WAN-LOCAL'
set firewall zone LOCAL from WAN firewall name 'WAN-LOCAL'
set firewall zone LOCAL local-zone
set firewall zone WAN default-action 'drop'
set firewall zone WAN from DN42EXT firewall ipv6-name 'OTHER-WAN'
set firewall zone WAN from DN42EXT firewall name 'OTHER-WAN'
set firewall zone WAN from DN42INT firewall ipv6-name 'OTHER-WAN'
set firewall zone WAN from DN42INT firewall name 'OTHER-WAN'
set firewall zone WAN from LOCAL firewall ipv6-name 'LOCAL-WAN'
set firewall zone WAN from LOCAL firewall name 'LOCAL-WAN'
set firewall zone WAN interface 'eth0'
